<header>
  <nav>
    <div class="container">
      <h1>UMSA</h1>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/users">Clientes</a></li>
        <li><a href="/references/project-types">Tipos de Proyecto</a></li>
        <li><a href="/references/status-tasks">Estados de Tarea</a></li>
        <li><a href="/projects">Proyectos</a></li>
        <li><a href="/tasks">Tareas</a></li>
      </ul>
    </div>
  </nav>
</header>
