<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Express App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <main class="container">
    <div class="hero">
      <h2><%= message %></h2>
      <p>Sistema de Gestión de Construcción</p>
      <img src="/assets/img/Logo UMSA.png" alt="" width="200">
      <!-- <ul>
        <li>
          <h4>Tablas parametricas</h4>
          <ol>
            <li>status_tasks  -> EstadoTarea</li>
            <li>project_type -> TiposProyecto</li>
          </ol>
        </li>
        <li>
          <h4>Tablas relacionadas</h4>
          <ol>
            <li>projects -> Proyectos</li>
            <li>tasks -> Tareas</li>
            <li>customers -> Clientes</li>
          </ol> 
        </li>
      </ul> -->
      <ul class="list-unstyled">
        <li>Eidan Leonel Condori Villca</li>
        <li>Israel Elias Murillo Flores</li>
        <li>Diego</li>
        <li>Valentina</li>
    </ul>
      
      <div class="cta">
        <a href="/users" class="btn btn-primary">Ver Usuarios</a>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 UMSA - Programacion web III</p>
    </div>
  </footer>
</body>
</html>
